<article id="node-{{ node.id }}" {{ attributes }}>
  <div class="vigneron-content">
    {{ title_prefix }}
    {% if not page %}
      <h3{{ title_attributes }}>{{ label }}</h3>
    {% endif %}
    {{ title_suffix }}
    {# We hide the comments and links now so that we can render them later. #}
    <div{{ content_attributes }}>
      {{ content|without('comment', 'links', 'field_tags') }}
    </div>
  </div>
</article>